<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="LOG_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %blue([traceId=%X{traceId}]) %highlight(%-5level) %cyan(%logger{36}.%M) - %yellow(%msg%n)
            </pattern>
        </layout>
    </appender>

    <springProfile name="!(dev | prod)">
        <root level="INFO">
            <appender-ref ref="LOG_CONSOLE"/>
        </root>
    </springProfile>

</configuration>